* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  body {
    font-family: "Lato", sans-serif;
    overflow-x: hidden;
  }
  
  canvas {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .details {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  
  .ball-text {
    position: fixed;
    z-index: 2;
    color: white;
    font-size: 5rem;
    right: 20%;
    bottom: 40%;
    transform: translate(-20%, -40%);
  }
  .ball-text1 {
    font-family: 'Blanka', sans-serif;
    position: fixed;
    z-index: 2;
    background-clip: text;
    white-space: nowrap;


    background-image: url(./water/pexels-mathias-reding-5711193.jpg);
    background-repeat: no-repeat;
    -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
  animation: slide 7s linear infinite;
 transition: all 1s ease-out;
    
    color: aqua;
    font-size: 7rem;
    left: 15%;
    bottom: 40%;
    transform: translate(-20%, -40%);
  }

  .ball-text2 {
    position: fixed;
    z-index: 2;
    background-clip: text;
    white-space: nowrap;
 transition: all 1s ease-out;
    
    color: aqua;
    font-size: 4rem;
    left: 20%;
    bottom: 20%;
    transform: translate(-20%, -40%);
  }

   
  .ball-text1:hover
  {
    animation: stop;
  }
@keyframes slide {
  0% {
   
      background-position: 0px ;
    }
    100% {
   

      background-position: -600px ;
    }
}
  
  @media screen and (max-width: 1024px) {
    .ball-text {
      font-size: 2rem;
      right: 50%;
      bottom: 25%;
      transform: translate(50%, 50%);
    }
    .ball-text1 {
      font-family: 'Blanka', sans-serif;
      position: fixed;
      z-index: 2;
      
      color: aqua;
      font-size: 4rem;
      white-space: nowrap;
      left: 20%;
      bottom: 50%;
      transform: translate(-20%, -40%);
    }

    .ball-text2 {
      position: fixed;
      z-index: 2;
      background-clip: text;
   transition: all 1s ease-out;
      
      color: aqua;
      font-size: 1rem;
      left: 20%;
      bottom: 40%;
      transform: translate(-20%, -40%);
    }
  
    
    h1 {
      font-size: 2rem;
    }
  }